<div class="py-5 container bg-dark text-white">
    <h3 class="text-center py-3">Editar Educacion</h3>
    <form (ngSubmit)="onSubmit()">
        <div class="form-group my-1">
          
            <input type="text"
            class="form-control"
            id="school"
            [(ngModel)]="education.school"
            name="school"
            placeholder="Nombre del instituto"
            >
        </div>
        <div class="form-group my-1">
            <input type="text"
            class="form-control"
            id="descripcion"
            [(ngModel)]="education.descripcion"
            name="descripcion"
            placeholder="Descripción"
            >
        </div>
        <div class="form-group my-1">
            <input type="text"
            class="form-control"
            id="fecha"
            [(ngModel)]="education.fecha"
            name="fecha"
            placeholder="Fecha"
            >
        </div>
        <div class="form-group my-1">
            <input type="text"
            class="form-control"
            id="url_school"
            [(ngModel)]="education.url_school"
            name="url_school"
            placeholder="Link al instituto"
            >
        </div>
        
        <div class="form-group my-1">
            <input type="text"
            class="form-control"
            id="img"
            [(ngModel)]="education.img"
            name="img"
            placeholder="Imagen"
            >
        </div>
        
        <button class="btn btn-success">Guardar!</button>
    </form>
</div>
