<div class="py-3 container bg-dark  text-white">
    <h3>Proyects</h3>
   
          <div class="card mb-3 mx-5 bg-dark bg-gradien" style="max-width: 960px;" *ngFor="let p of project">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img [src]="p.img" class="card-img" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title" id="name">{{p.name}}</h5>
              <p class="card-text" id="descripcion">{{p.descripcion}}</p>
              <p class="card-text"id="fecha"><small class="text-muted">{{p.fecha}}</small></p>
              <div class="card-footer border-secondary">
                <a href="{{p.url_project}}" target="_blank" class="btn btn-secondary">Go!</a>
                 
              <button (click)="editarProject(p.id)" class="btn btn-primary">Editar</button>
              <button (click)="eliminarProject(p.id)" class="btn btn-danger">Borrar</button>
         
              </div>
            </div>
          </div>
        </div>
        
    </div>
   
</div>


