<div class="py-3 container bg-dark  text-white">
    <h3>Proyects</h3>
   
          <div class="card mb-3 mx-5 bg-dark bg-gradien" style="max-width: 960px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img [src]="projects.img" class="card-img" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title" id="name">{{projects.name}}</h5>
              <p class="card-text" id="descripcion">{{projects.descripcion}}</p>
              <p class="card-text"id="fecha"><small class="text-muted">{{projects.fecha}}</small></p>
              <div class="card-footer border-secondary">
                <a href="{{projects.url_project}}" target="_blank" class="btn btn-secondary">Go!</a>
                <button *ngIf="usuarioAutenticado" class="btn btn-primary" data-bs-toggle="modal"
                data-bs-target="#modalProjects" (click)="mostrarDatosProyecto()">Editar</button>
        
              </div>
            </div>
          </div>
        </div>
        
    </div>
    
  
  <!-- Modal -->
  <div class="modal fade" id="modalProjects" tabindex="-1" aria-labelledby="tituloModalProject" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="tituloModalProject">Editar Proyecto</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <form [formGroup]="form">
                      <div class="mb-3">
                          <label for="name" class="form-label">Nombre</label>
                          <input type="text" class="form-control" id="name" formControlName="name">
                          <div *ngIf="name?.invalid && name?.touched">
                              <div *ngIf="name?.errors?.['required']" class="text-danger">
                                  Escriba el nombre del Proyecto
                              </div>
                              <div *ngIf="name?.errors?.['minlength']" class="text-danger">
                                 El apellido y nombre debe tener como  mínimo 5 caracteres.
                              </div>
                          </div>
                      </div>
                      <div class="mb-3">
                          <label for="descripcion" class="form-label">Descripción</label>
                          <input type="text" class="form-control" id="descripcion" formControlName="descripcion">
                          <div class="mb-3">
                              <label for="fecha" class="form-label">Fecha</label>
                              <input type="text" class="form-control" id="fecha" formControlName="fecha">
                          </div>
                          <div class="mb-3">
                              <label for="url" class="form-label">Url de la imagen</label>
                              <input type="text" class="form-control" id="url" formControlName="url">
                          </div>
                      </div>
                  </form>
              </div>
              <div class="modal-footer">
                  <button type="button" id="cerrarModalProject" class="btn btn-secondary"
                      data-bs-dismiss="modal">Salir</button>
                  <button type="button" class="btn btn-primary" (click)="guardarDatosProyecto()">Guardar</button>
              </div>
          </div>
      </div>
  </div>    
      
    <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('assets/unsplash-photo-1.jpg');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Another longer title belongs here</h2>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
              </li>
              <li class="d-flex align-items-center me-3">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
                <small>California</small>
              </li>
              <li class="d-flex align-items-center">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
                <small>5d</small>
              </li>
            </ul>
          </div>
        </div>
      </div>
</div>


