<div class="py-3 container bg-dark  text-white">
  <h3 class="mb-5">Educación</h3>
  
  <div class="card mb-3 mx-5 bg-dark" style="max-width: 960px;--bs-bg-opacity: .5;" *ngFor="let e of education">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="{{e.img}}" class="card-img" alt="...">
        </div>
        <div class="col-md-8 ">
          <div class="card-header">{{e.fecha}}</div>
          <div class="card-body ">
            <h5 class="card-title">{{e.school}}</h5>
            <p class="card-text">{{e.descripcion}}</p>
            <div class="card-footer border-secondary">
            <a href="{{e.url_school}}" target="_blank" class="btn btn-secondary">Go!</a>
               
            <button (click)="editarEducation(e.id)" class="btn btn-primary">Editar</button>
            <button (click)="eliminarEducation(e.id)" class="btn btn-danger">Borrar</button>
       
          </div></div>
        </div>
      </div>
    </div>
</div>