<div class="py-3 container-fluid bg-dark bg-gradient text-white">
<div class="row d-flex ">

    <div class="col-md-6">



        <div class="skill blue">
          <span class="skill-left">
                            <span class="skill-bar"></span>
          </span>
          <span class="skill-right">
                            <span class="skill-bar"></span>
          </span>
          <div class="skill-value">90%</div>
        </div>

        
          <div class="skill yellow">
            <span class="skill-left">
                            <span class="skill-bar"></span>
            </span>
            <span class="skill-right">
                            <span class="skill-bar"></span>
            </span>
            <div class="skill-value">37.5%</div>
          </div>
        
    </div>
   
</div>
</div>